body {
    font-family: "Lato", sans-serif;
}

#conteneur {
    display: flex;
}

#detailsmap {
    min-height: 100%;
    min-width: 1024px;
    border-right: 20%;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}

.todefine {
    width: 6%;
    height: 6%;

    position: absolute;
    top: 5%;
    left: 92%;

    z-index: 5;
}


.todefine img {
    max-width: 100%;
    max-height: 100%;
    border: 0;
}

.info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    align-items: center;
    visibility: hidden;
    position: absolute;

    top: 3%;
    left: 79%;
    width: 19%;
    height: 12%;

    

    overflow: none;
    background: #22223b;

    z-index: 6;

    border-radius: 20px;
    padding :10px;
}

.info a{
    color: #97a7b3;
    font-size: 16px;
}

.menuhydrant {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    align-items: center;
    visibility: hidden;

    
    
    position: absolute;

    top: 18%;
    left: 79%;
    width: 19%;
    height: 60%;

    

    overflow: none;
    background: #22223b;

    z-index: 6;

    border-radius: 20px;
    padding :3px;
    
}

.menuhydrant c{
    display: flex;
    justify-content: space-between;
    
    border-style: solid;
    border-color: #22223b;
    height: 80%;
    width: 100%;
    margin:10px;

    background : #97a7b3;
    border-radius: 35px;
}


.menuhydrant b{
    
    display: flex;
    flex-direction: column;
    height: 96%;
    width: 51%;
   
    
    justify-content: space-around;
    padding: 5px;
    align-items: center;
    

}

.menuhydrant x {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    font-size: 28px;
    color:#97a7b3;
    text-shadow: 5px;
}

.menuhydrant a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 60%;
    height: 10%;
    display: table-cell;
    vertical-align: center;
    text-align: center;
    border: 5px;
    border-style: solid;
    border-radius:50px ;
    border-color: #22223b;
    color:#22223b;
   
}


.menucamion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;

    position: absolute;

    top: 0px;
    left: 12%;
    width: 88%;
    height: 14%;

    overflow: none;
    

    z-index: 6;

}

.menucamion a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color : #22223b;
    background-color: #97A7B3;
    border-radius: 15px;
}



.menucamion img {
    padding:8%;
    max-width: 65%;
    max-height: 65%;
    border: 0;
}



.share-button {
    width: 50px;
    height: 80px;
    background: #dfe6e9;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .01s linear;
    
}

.share-button:hover {
    transform: scale(1.1);
}

.share-button button {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f0a868;
    color: #22223b;
    
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: .01s linear;
    border-radius: 40px;

}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 12%;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #22223B;
    overflow-x: hidden;
}

.sidenav a {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: flex;

    text-decoration: none;
    font-size: 28px;
    color: #97A7B3;
    width: 94%;
    height: 33%;
    text-align:center;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    align-self: center;

}

.sidenav img {
    max-width: 42%;
    max-height: 42%;
    border: 0;
    filter: invert(100%); 
    -webkit-filter:invert(100%); 
    
}


.sidenav a:hover {
    color: #f1f1f1;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


.menufiche {
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;

    position: absolute;

    top: 84%;
    left: 12%;
    width: 88%;
    height: 16%;

    overflow: none;
    

    z-index: 6;

    background-color: #22223b;
    overflow: auto;
    
    

}

.menufiche a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 5px;
    border-style: solid;
    padding: 10px;
    margin:10px;

    
    color: #97A7B3;
    text-align: center;
    
    text-decoration: none;
}

.menufiche a:hover{
    color:#f1f1f1;
}


  
  


